body{
    background-color: crimson;
}

#titleT {
    font-family: cursive;
    color: whitesmoke;
}
#A-btn {
    width: 100px;
    height: 75px;
    border-radius: 35px;
}
#S-btn {
    width: 100px;
    height: 75px;
    border-radius: 35px;
}
#M-btn {
    width: 100px;
    height: 75px;
    border-radius: 35px;
}
#D-btn {
    width: 100px;
    height: 75px;
    border-radius: 35px;
}
#fancy {
    width: 100px;
    height: 75px;
    border-radius: 35px;
    font-size: 50px;
}
